<Input @value={{this.newTitle}} @enter={{action this.addPost}} />

<ul>
  {{#each this.model as |post|}}
    <li>
      <LinkTo @route="posts.post" @model={{post.id}}>
        <PostView @post={{post}} @showBody={{false}} />
      </LinkTo>
    </li>
  {{/each}}
</ul>

{{outlet}}